#About {
    color: rgb(241, 241, 241);
    background: rgb(19, 18, 18, 0.8);
    font-family: Abel;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin-top: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* #About:hover {
  background-color: white;
  color: black;
} */
#Profile {
  width: 145px;
  height: 145px; 
}


    