@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

#Navbar {
  background-color: rgb(5, 5, 5);
  margin-top: 15%;
  font-family: Abel;
  height: 0px;
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items:center;
  position: fixed;
  color: #ffffff;
}
/* #Home {
  color: rgb(241, 241, 241);
  width: 250px;
  padding-left: 15%;
} */
#About {
  color: rgb(241, 241, 241);
  width: 250px;
  padding-left: 15%;
}
#Projects {
  color: rgb(241, 241, 241);
  width: 250px;
  padding-left: 15%;
}
#Contact {
  color: rgb(241, 241, 241);
  width: 250px;
  padding-left: 15%;
}
