@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

#Navbar {
  background: rgb(19, 18, 18, 0.8);
  margin-top: 5%;
  font-family: Abel;
  display: flex;
  flex-direction: column;
  align-items:center;
  position:absolute;
  color: #ffffff;
  text-align: center;
}
/* #Home {
  color: rgb(241, 241, 241);
  width: 250px;
  padding-left: 15%;
} */
/* #About {
  color: rgb(241, 241, 241);
  width: 250px;
  padding-left: 15%;
}
#Projects {
  color: rgb(241, 241, 241);
  width: 250px;
  padding-left: 15%;
}
#Contact {
  color: rgb(241, 241, 241);
  width: 250px;
  padding-left: 15%;
} */
