@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap'); 

body {
  margin: 0%;
  border: 0%;
  padding: 0%;
  background:
    url(./background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.Title {
  background-color:rgb(19, 18, 18, 0.8);
  padding: 0.4em;
  color: rgb(250, 248, 248);
}
.App-title {
  font-family: Abel;
  text-align: center;
  font-size: 15px;
  margin-top: 0%;
  height: 100%;
  width: 100%;
  
  /* background-position: center; */
  /* overflow: hidden; */
}
#links a {
  color: white;
  font-family: Abel;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 25px;
  margin-top: 10%;
  position:relative;
  background:rgb(19, 18, 18, 0.8);
  opacity: 0.8;
  justify-content: space-between;
  text-align: center;
  animation: fadeIn ease 5s;
}
/* #nav-items:hover link {
  background-color: white;
  color: black;
} */
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
  0% {
    font-size: 0;
  }
  100% {
    font-size: 25px;
  }
}

