/* @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Odibee+Sans&display=swap');

body {
  margin: 0%;
  border: 0%;
  padding: 0%;
  background:
    url(./background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.Title {
  background-color:rgb(19, 18, 18, 0.85);
  padding: 0.4em;
  color: rgb(250, 248, 248);
}
.App-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 15px;
  margin-top: 0%;
  height: 100%;
  width: 100%;
  
  /* background-position: center; */
  /* overflow: hidden; */
}
#main-links {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 25px;
  margin-top: 5%;
  position:relative;
  justify-content: space-between;
  text-align: center;
  
}
#main-links a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  background: rgb(19, 18, 18, 0.85);
  padding-left: 5px;
  padding-right: 5px;
  font-size: 25px;
  position: relative;
  justify-content: space-between;
  text-align: center;
  
}


