@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap'); 

body {
  margin: 0%;
  border: 0%;
  padding: 0%;
  background:
    url(./background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.Title {
  background-color:rgb(19, 18, 18);
  padding: 0.4em;
  color: rgb(250, 248, 248);
}
.App-title {
  font-family: Abel;
  text-align: center;
  font-size: 15px;
  /* color: white; */
  margin-top: 0%;
  height: 100%;
  width: 100%;
  
  /* background-position: center; */
  /* overflow: hidden; */
}
#links a {
  color: white;
  font-family: Abel;
  text-align: center;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
  margin-top: 10%;
  /* height: 100%; */
  /* width: 100%; */
  justify-content: space-between;
  /* overflow: hidden; */
}

